{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h1 style="text-align: center">Sobre nosotros</h1>
    <div style="text-align: center">
        <p style="text-align: center;">Como dijo Christopher Reeve “Muchos de nuestros sueños parecen en principio imposibles. Luego pueden parecer improbables, pero cuando nos comprometemos firmemente, se convierten en realidad”. HUTTON nace de la ilusión, el compromiso y el esfuerzo de tres jóvenes emprendedores que aun conociendo las dificultades actuales, deciden aventurarse dentro del
            complicado
            mundo textil.</p>
        <img style="margin-bottom: 20px" src='{% static 'img/about_us_pict.png' %}'/>

        <p style="text-align: center;">Después de muchos meses de investigación y desarrollo, Hutton ha conseguido alcanzar las claves de su producto, dar buena calidad a un precio razonable sin olvidar su estilo clásico pero con un toque joven y diferente. Con estas bases de esfuerzo, humildad y calidad, en HUTTON buscamos dar una bocanada de aire fresco al sector textil masculino,
            posicionándonos
            como una alternativa real al resto de marcas disponibles en el mercado.</p>

        <p style="text-align: center;">Hutton quiere hacer partícipe a todo el que se sienta identificado con nosotros, por eso te invitamos a contactar a través de nuestro mail <a href="mailto:info@hutton.es">info@hutton.es</a> para que nos preguntes sobre nuestra historia, tienda online, próximos eventos en los que estaremos presentes o cualquier duda.</p>

        <p style="text-align: center;">¡Bienvenido/a a HUTTON!</p>
    </div>
{% endblock %}