{% extends 'base.html' %}
{% load thumbnail %}
{% load staticfiles %}

{% block css_and_js %}
    <link href="{% static 'css/styles.scss87ea.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static 'css/social-icons.css' %}" type="text/css" media="all" rel="stylesheet"/>
    {#        <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>#}
    <link href="{% static 'css/font-awesome.css' %}" type="text/css" media="all" rel="stylesheet"/>
    {#        <link href="{% static 'css/bootstrap.css' %}" type="text/css" media="all" rel="stylesheet"/>#}
    <link href="{% static 'css/theme.scss.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static 'css/timber.scss.css' %}" type="text/css" media="all" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo:300,400,700">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo:300,400,700">

    <script src="{% static 'js/html5shiv87ea.js' %}" type="text/javascript"></script>

    <script src="{% static 'js/ga_urchin_forms-7ada6895033623ac31caa5468381c85a.js' %}"
            type="text/javascript"></script>

    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'js/option_selection-87ab3c47afdd94e7292ed3925ae1bc31.js' %}"
            type="text/javascript"></script>

    <script src="{% static 'js/api.jquery-c602350dadbc8cd60f9559f7c451f118.js' %}" type="text/javascript"></script>

    <script src="{% static 'js/ga_urchin_forms-1e02ac4cfbf8b5d3834efe09930b72ca.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <main class="wrapper main-content" role="main">
        <div class="grid">
            <div class="grid__item">


                <form action="./Your Shopping Cart – Vintage_files/Your Shopping Cart – Vintage.html" method="post" novalidate="" class="cart">

                    <div class="section-header">
                        <h1 class="section-header__title">Your Cart</h1>
                    </div>

                    <div class="cart__row medium-down--hide cart__header-labels">
                        <div class="grid--full">
                            <div class="grid__item post-large--one-half push--post-large--one-half">
                                <div class="grid--full">
                                    <div class="grid__item one-third medium-down--one-third">
                                        <span class="h4">Price</span>
                                    </div>
                                    <div class="grid__item one-third medium-down--one-third text-center">
                                        <span class="h4">Quantity</span>
                                    </div>
                                    <div class="grid__item one-third medium-down--one-third text-right">
                                        <span class="h4">Total</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="cart__row">
                        <div class="grid--full cart__row--table-large">

                            <div class="grid__item post-large--one-half">
                                <div class="grid">

                                    <div class="grid__item one-third">
                                        <a href="https://minimal-vintage.myshopify.com/products/30x40-french-periodic-table?variant=830465153" class="cart__image">


                                            <img src="./Your Shopping Cart – Vintage_files/dsc_11_medium.jpeg" alt="French Periodic Table (black) - Canvas, Paper / Black on weathered">
                                        </a>
                                    </div>

                                    <div class="grid__item two-thirds">
                                        <a href="https://minimal-vintage.myshopify.com/products/30x40-french-periodic-table?variant=830465153" class="h5">
                                            French Periodic Table (black)
                                        </a>

                                        <br>
                                        <small>Canvas, Paper / Black on weathered</small>


                                        <a href="https://minimal-vintage.myshopify.com/cart/change?line=1&quantity=0" class="cart__remove">
                                            <small>Remove</small>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <div class="grid__item post-large--one-half">
                                <div class="grid--full cart__row--table-large">

                                    <div class="grid__item one-third">
                                        <span class="cart__mini-labels">Price</span>
                                        <span class="h5">$175.00</span>
                                    </div>

                                    <div class="grid__item one-third text-center">
                                        <span class="cart__mini-labels">Quantity</span>
                                        <input type="number" class="cart__quantity-selector" name="updates[]" id="updates_830465153" value="1" min="0">
                                    </div>

                                    <div class="grid__item one-third text-right">
                                        <span class="cart__mini-labels">Total</span>
                                        <span class="h5">$175.00</span>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="cart__row">
                        <div class="grid--full cart__row--table-large">

                            <div class="grid__item post-large--one-half">
                                <div class="grid">

                                    <div class="grid__item one-third">
                                        <a href="https://minimal-vintage.myshopify.com/products/food-fair?variant=830465129" class="cart__image">


                                            <img src="./Your Shopping Cart – Vintage_files/DSC_0105_medium.jpeg" alt="Food Fair - Small">
                                        </a>
                                    </div>

                                    <div class="grid__item two-thirds">
                                        <a href="https://minimal-vintage.myshopify.com/products/food-fair?variant=830465129" class="h5">
                                            Food Fair
                                        </a>

                                        <br>
                                        <small>Small</small>


                                        <a href="https://minimal-vintage.myshopify.com/cart/change?line=2&quantity=0" class="cart__remove">
                                            <small>Remove</small>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <div class="grid__item post-large--one-half">
                                <div class="grid--full cart__row--table-large">

                                    <div class="grid__item one-third">
                                        <span class="cart__mini-labels">Price</span>
                                        <span class="h5">$85.00</span>
                                    </div>

                                    <div class="grid__item one-third text-center">
                                        <span class="cart__mini-labels">Quantity</span>
                                        <input type="number" class="cart__quantity-selector" name="updates[]" id="updates_830465129" value="1" min="0">
                                    </div>

                                    <div class="grid__item one-third text-right">
                                        <span class="cart__mini-labels">Total</span>
                                        <span class="h5">$85.00</span>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="cart__row">
                        <div class="grid">


                            <div class="grid__item post-large--five-twelfths">
                                <button type="button" class="text-link cart__note-add">
                                    Add a note to your order
                                </button>
                                <div class="cart__note">
                                    <label for="CartSpecialInstructions">Special instructions for seller</label>
                                    <textarea name="note" class="input-full" id="CartSpecialInstructions"></textarea>
                                </div>
                            </div>

                            <div class="grid__item text-right post-large--seven-twelfths">
                                <p>
                                    <span class="cart__subtotal-title">Subtotal</span>
                                    <span class="h5 cart__subtotal">$260.00</span>
                                </p>

                                <p><em>Shipping &amp; taxes calculated at checkout</em></p>
                                <input type="submit" name="update" class="btn--secondary update-cart" value="Update Cart">
                                <input type="submit" name="checkout" class="btn" value="Check Out">


                            </div>
                        </div>

                    </div>

                </form>


            </div>
        </div>
    </main>

    {#    <script>#}
    {#        if (document.getElementById("total_price").innerHTML == "Total: 0 €") {#}
    {#            $("#payment_button").addClass("disabled").css("cursor", "default");#}
    {#        }#}
    {#        function Collapse(id) {#}
    {#            $("#carrito_" + id).slideToggle();#}
    {#            var a = document.getElementById("link_" + id);#}
    {#            if (a.getAttribute("data-open") == "1") {#}
    {#                a.innerText = "Ocultar los productos";#}
    {#                a.setAttribute("data-open", "0");#}
    {#            }#}
    {#            else {#}
    {#                a.innerText = "Ver los productos";#}
    {#                a.setAttribute("data-open", "1");#}
    {#            }#}
    {#        }#}
    {#        function Eliminate(id) {#}
    {#            var text = document.getElementById("dscrptn_" + id).innerText;#}
    {#            if (window.confirm("Realmente desea eliminar " + text + " de su carrito?")) {#}
    {#                var request = $.get("/eliminate/", {'pk': id});#}
    {##}
    {#                request.done(function (data) {#}
    {#                    $('#product_' + id).slideUp(250);#}
    {#                    var timeoutID;#}
    {#                    document.getElementById("carrito").innerHTML = "Carrito: " + data['cant'] + " Items";#}
    {#                    document.getElementById("total_price").innerHTML = "Total: " + data['total'];#}
    {##}
    {#                    if (data['cant'] == '0') {#}
    {#                        $("#payment_button").addClass("disabled").css("cursor", "default");#}
    {#                    }#}
    {##}
    {#                    function delayedAlert() {#}
    {#                        timeoutID = window.setTimeout(function () {#}
    {#                            $('#product_' + id).remove();#}
    {#                        }, 250);#}
    {#                    }#}
    {##}
    {#                    delayedAlert();#}
    {#                });#}
    {#                request.error(function (data) {#}
    {#                    alert("Ha ocurrido un problema al eliminar. Inténtelo más tarde");#}
    {#                });#}
    {#            }#}
    {#        }#}
    {##}
    {#    </script>#}
    <script src="{% static 'js/fastclick.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/theme.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/timber.js' %}" type="text/javascript"></script>

{% endblock %}

