{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="privacy" style="text-align: justify">
        <h1 id="home">Términos y condiciones</h1>

        <h3>1. INFORMACIÓN GENERAL</h3>

        <p>Las presentes condiciones de uso (las “<strong>Condiciones de Uso</strong>”) regulan el acceso y la utilización del sitio web alojado bajo el nombre de dominio www.hutton.es (el “<strong>Sitio Web</strong>”) y bajo cualquiera de los subdominios o páginas web dependientes del mismo, así como los contenidos y servicios que el titular del Sitio Web pone a disposición de sus usuarios (los “<strong>Usuarios</strong>”)
            y establecen junto con la <b>Política de Privacidad </b> y <b>Cookies</b>, relativas a la gestión de datos de carácter personal de los Usuarios, los términos y condiciones por los que se rige el Sitio Web.</p>

        <p>En cumplimiento del artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y del Comercio Electrónico, se exponen los siguientes datos identificativos del titular del Sitio Web:</p>

        <p>GRUPO TEXTIL HUTTON S.L. (“GRUPO TEXTIL HUTTON”) es una sociedad mercantil con domicilio social en Madrid, calle Labradores número 12 (nave 16), C.P. 28660 y correo electrónico info@hutton.es. GRUPO TEXTIL HUTTON está debidamente inscrita en el Registro Mercantil de Madrid, al Tomo 32567, Libro 1, Folio 27, Sección 4ª y Hoja M-473451.</p>


        <h3>2. OBJETO DEL CONTRATO</h3>

        <p>Las presentes Condiciones de Uso conforman el contrato íntegro a través del cual se regulan las condiciones de compra de los productos puestos a disposición de los Usuarios por parte de GRUPO TEXTIL HUTTON en el Sitio Web (los “<strong>Productos</strong>”).</p>

        <p>El acceso al Sitio Web o su uso por el Usuario, así como la compra de cualquier Producto, implica necesariamente, y sin reservas, el conocimiento y aceptación de las presentes Condiciones de Uso, por tanto, se recomienda que el Usuario las lea detenidamente cada vez que quiera comprar un Producto.</p>


        <h3>3. COMPRA DE PRODUCTOS</h3>
        <h4>3.1. Cómo comprar Producto</h4>

        <p>Para realizar pedidos de Productos, el Usuario, deberá seguir el procedimiento de compra establecido en el Sitio Web, leer y aceptar las presentes Condiciones de Uso y seleccionar “Finalizar y Pagar” (el “<strong>Pedido</strong>”). A continuación, GRUPO TEXTIL HUTTON enviará un correo electrónico al Usuario confirmando que el pedido ha sido aceptado (la “<strong>Confirmación de la
            orden</strong>”). El contrato entre el Usuario y GRUPO TEXTIL HUTTON quedará finalmente formalizado una vez que GRUPO TEXTIL HUTTON envíe al Usuario la Confirmación de la compra. Serán objeto del contrato únicamente aquellos Productos indicados en el Pedido.</p>
        <h4>3.2. Disponibilidad de Productos</h4>

        <p>Todos los Pedidos están sujetos a disponibilidad de los Productos. En el caso de que, una vez enviada la Confirmación de Envío, GRUPO TEXTIL HUTTON no pudiera disponer del Producto solicitado por cualquier circunstancia, se pondrá en contacto con el Usuario a la mayor brevedad posible comunicándole tal hecho. En tal caso, GRUPO TEXTIL HUTTON podrá:</p>

        <p>(i) ofrecer al Usuario, sin aumento de precio, un producto de características y especificaciones similares al del inicialmente solicitado, siempre y cuando éstas sean acordes con las necesidades del Usuario; y/o</p>

        <p>(ii) ofrecer al Usuario dejar sin efecto el Pedido solicitado reintegrándole el importe pagado por el mismo, en el plazo de (14) días hábiles.</p>
        <h4>3.3. Negativa a tramitar un Pedido</h4>

        <p>Aunque GRUPO TEXTIL HUTTON hará lo posible para tramitar siempre todos los Pedidos, puede haber circunstancias excepcionales que le obliguen a rechazar la tramitación de algún Pedido después de haber enviado la Confirmación de la orden, por lo que GRUPO TEXTIL HUTTON se reserva el derecho a hacerlo en cualquier momento, a su entera discreción.</p>

        <p>GRUPO TEXTIL HUTTON se reserva el derecho de retirar cualquier Producto del Sitio Web en cualquier momento y de quitar o modificar cualquier material o contenido del mismo, no siendo responsable frente al Usuario o frente a cualquier tercero por el hecho de retirar cualquier Producto del Sitio Web, con independencia de si dicho Producto ha sido vendido o no, de quitar o modificar
            cualquier material o contenido del Sitio Web.</p>
        <h4>3.4. Garantía de los Productos</h4>

        <p>Todos los Productos contenidos en el Sitio Web son originales de GRUPO TEXTIL HUTTON. Todos ellos cuentan con una garantía de dos (2) años conforme a los criterios y condiciones descritas en el Real Decreto Legislativo, 1/2007, de 16 de noviembre, por el que se aprueba el texto refundido de la Ley General para la Defensa de los Consumidores y Usuarios y otras leyes complementarias.</p>

        <p>Se entenderá que los Productos son conformes con las Condiciones de Uso siempre que cumplan con todos los requisitos que se expresan a continuación:</p>

        <p>(i) Se ajusten a la descripción realizada por GRUPO TEXTIL HUTTON y posean las cualidades del Producto que GRUPO TEXTIL HUTTON haya presentado al Usuario en forma de muestra o modelo.<br/>
            (ii) Sean aptos para los usos que ordinariamente destinen los Productos del mismo tipo.<br/>
            (iii) Sean aptos para cualquier uso especial requerido por el Usuario cuando lo haya puesto en conocimiento de GRUPO TEXTIL HUTTON, siempre que GRUPO TEXTIL HUTTON haya admitido que el producto es apto para dicho uso.<br/>
            (iv) Presenten la calidad y prestaciones habituales de un producto del mismo tipo que el Usuario pueda esperar, habida cuenta de la naturaleza del Producto.</p>

        <p>En el supuesto de quedar probado que el Producto no se ajusta a las especificaciones establecidas, GRUPO TEXTIL HUTTON procederá, cuando corresponda, a la reparación, sustitución, rebaja del precio o resolución del contrato siendo tales gestiones gratuitas para el Usuario.</p>

        <p>GRUPO TEXTIL HUTTON no es responsable de los daños en los Productos que puedan resultar de un mal uso de los mismos, así como de actos u omisiones del Usuario que no se ajusten a las especificaciones de cada Producto o de los daños causados por terceros que no estén vinculados a GRUPO TEXTIL HUTTON.</p>

        <p>GRUPO TEXTIL HUTTON pone el mayor cuidado en la realización de la presentación y descripción de los Productos. Sin embargo, las fotografías de los Productos se presentan de manera ilustrativa. Para conocer las características precisas de cada Producto deberá comprobar los datos descriptivos correspondientes que acompañan a cada Producto.</p>
        <h4>3.5. Entrega de los Productos</h4>

        <p>Una vez enviada la Confirmación de Envío, los Productos se entregarán en la dirección indicada por el Usuario al realizar el Pedido en el plazo aproximado de entre uno y cuatro (1-4) días laborables desde que los mismos salgan del almacén de GRUPO TEXTIL HUTTON.</p>

        <p>GRUPO TEXTIL HUTTON no asume responsabilidad alguna cuando la entrega del Producto no llegue a realizarse como consecuencia de que los datos facilitados por el Usuario sean falsos, inexactos o incompletos o cuando la entrega no pueda efectuarse por causas ajenas a la empresa de envíos.</p>

        <p>Los plazos de entrega son aproximados, aunque GRUPO TEXTIL HUTTON intenta ajustarse a ellos.</p>
        <h4>3.6. Gastos de envío</h4>

        <p>Los gastos de envío incluyen el transporte. Se intentará que el envío del pedido se realice en el menor tiempo posible, pero el receptor deberá tener en cuenta las disposiciones del país de destino, ya que GRUPO TEXTIL HUTTON no tiene responsabilidad sobre las mismas. Tampoco serán imputables a GRUPO TEXTIL HUTTON los efectos producidos por huelgas, conflictos bélicos u otras
            circunstancias ajenas a su control.</p>
        <h4>3.7. Precio y pago de los Productos</h4>

        <p>Los precios aplicables a cada Producto serán los publicados en el Sitio Web en la fecha en la que el Usuario realice el Pedido. A pesar de que GRUPO TEXTIL HUTTON intenta asegurarse de que todos los precios que figuran en el Sitio Web son correctos, pueden producirse errores. En el caso de que GRUPO TEXTIL HUTTON descubra un error en el precio de alguno de los Productos que haya
            solicitado algún Usuario, le informará lo antes posible y le dará la opción de reconfirmar el Pedido al precio correcto o bien anularlo. Si GRUPO TEXTIL HUTTON no logra ponerse en contacto con el Usuario, el Pedido se considerará cancelado y se reembolsará al Usuario íntegramente las cantidades que hubiese abonado.</p>

        <p>GRUPO TEXTIL HUTTON no estará obligado a suministrar al Usuario ningún Producto al precio inferior incorrecto (incluso aunque le Confirmación de Envío haya sido enviada) si el error en el precio es obvio e inequívoco y hubiera podido ser reconocido de forma razonable por el Usuario como precio incorrecto.</p>

        <p>Los precios pueden cambiar en cualquier momento. No obstante, los posibles cambios no afectarán a los Productos con respecto a los que GRUPO TEXTIL HUTTON ya haya enviado la Confirmación de Envío.</p>

        <p>a) Forma de pago</p>

        <p>El Usuario podrá efectuar el pago mediante tarjetas de crédito o débito Visa, Visa Electron, Mastercard, American Express o mediante PayPal. Para minimizar el riesgo de acceso no autorizado, se codificarán los datos de la tarjeta de crédito del Usuario. Tanto si la forma de pago se realiza mediante tarjeta de crédito o débito o a través de PayPal, el cargo se efectuará en el momento en
            el que GRUPO TEXTIL HUTTON envíe la Confirmación de la orden al Usuario.</p>

        <p>b) Impuesto sobre el Valor Añadido (IVA)</p>

        <p>El tipo de IVA aplicable será el legalmente vigente en cada momento en función del producto concreto de que se trate.</p>


        <h3>4. DEVOLUCIONES Y CAMBIOS DE LOS PRODUCTOS</h3>

        <p>a) Derecho de desistimiento</p>

        <p>Con arreglo a la normativa aplicable, en el caso de que el Usuario esté contratando como consumidor, podrá desistir del contrato (excepto en los supuestos establecidos por la legislación) y devolver o cambiar libremente los Productos entregados en cualquier momento dentro del plazo de catorce (14) días naturales desde la fecha de entrega del mismo (el “<strong>Plazo de
            Desistimiento</strong>”).</p>

        <p>En el supuesto de que el Usuario quiera ejercer su derecho debe ponerse en contacto con GRUPO TEXTIL HUTTON a través de la dirección de correo info@hutton.es para proceder al cambio/devolución.</p>

        <p>El Usuario podrá devolver el Producto y se le reembolsará el importe total del mismo o bien podrá cambiar el Producto por otro de distinta talla o color (estas acciones no incluyen los gastos de envío). El Usuario deberá enviar el Producto que deseé devolver/cambiar al a la dirección que le proporcione el equipo de Atención al Cliente incluyendo la “<strong>Hoja de Cambios y
            Devoluciones</strong>” completada. Los gastos de envío que correrán a cargo del Usuario.</p>

        <p>Una vez realizada la inspección pertinente del Producto devuelto al efecto de que se cumplan los requisitos establecidos en el apartado c) , GRUPO TEXTIL HUTTON procederá a realizar el reembolso o a enviar el nuevo Producto en función de la preferencia del Usuario.</p>

        <p>Si el Usuario vive fuera de España:</p>

        <p>El Usuario únicamente podrá devolver el Producto y ser le reembolsado por el importe total del mismo (este importe no incluye los gastos de envío). El Usuario deberá enviar el Producto que deseé devolver al a la dirección que le proporcione el equipo de Atención al Cliente incluyendo la “<strong>Hoja de Cambios y Devoluciones</strong>” completada. Los gastos de envío que correrán a
            cargo del Usuario.</p>

        <p>Una vez realizada la inspección pertinente del Producto devuelto al efecto de que se cumplan los requisitos establecidos en el apartado c) , GRUPO TEXTIL HUTTON procederá a realizar el reembolso por el importe total del Producto (sin incluir los gastos de envío)</p>

        <p>Transcurrido el Plazo de Desistimiento, no se aceptarán cambios ni devoluciones de Productos. Únicamente se aceptarán cambios por aquellos Productos que hubieran podido resultar defectuosos de acuerdo con lo establecido en el apartado b) siguiente.</p>

        <p>b) Devolución o sustitución de Productos defectuosos</p>

        <p>En el caso de que el Usuario considere que el Producto no se ajusta a las especificaciones establecidas para dicho Producto, deberá ponerse en contacto con GRUPO TEXTIL HUTTON de manera inmediata a través de un correo electrónico a la dirección de contacto info@hutton.es facilitando los datos del Producto, así como informando del defecto que tiene y de si opta por la devolución o la
            sustitución por un Producto idéntico.</p>

        <p>El Usuario podrá devolver los Productos, en el lugar dónde se entregaron, a un mensajero que GRUPO TEXTIL HUTTON enviará o bien devolver el Producto por sus propios medios. Una vez realizada la inspección pertinente del Producto devuelto, GRUPO TEXTIL HUTTON enviará, dentro de un plazo razonable, un correo electrónico al Usuario informándole de si procede la devolución o sustitución del
            Producto (la “<strong>Decisión de Devolución o Sustitución</strong>”). En tal caso, la devolución o sustitución del Producto se efectuará lo antes posible y, en cualquier caso, dentro de los catorce (14) días naturales siguientes a la fecha de envío de la Decisión de Devolución o Sustitución.</p>

        <p>En el caso de que proceda la devolución o sustitución, GRUPO TEXTIL HUTTON reembolsará íntegramente al Usuario el precio del Producto incluidos los gastos de envío. Si el Usuario ha optado por la sustitución, GRUPO TEXTIL HUTTON correrá con todos los gastos de envío.</p>

        <p>c) Disposiciones comunes a las devoluciones</p>

        <p>El Usuario deberá cumplir los siguientes requisitos para hacer uso del derecho de desistimiento, así como para poder realizar devoluciones y sustituciones de Productos:</p>

        <p>(i) Para organizar la recogida del Producto, el Usuario deberá previamente ponerse en contacto con GRUPO TEXTIL HUTTON enviando un correo electrónico a la dirección de contacto info@hutton.es;<br/>
            (ii) El Usuario podrá acreditar el ejercicio del derecho de desistimiento en cualquier forma admitida en derecho, considerándose en todo caso válidamente ejercitado mediante la devolución del Producto;<br/>
            (iii) El Producto debe devolverse en las mismas condiciones que en las que se recibió. GRUPO TEXTIL HUTTON no reembolsará ninguna cantidad si el Producto ha sufrido algún daño, por lo que el Usuario deberá ser cuidadoso con el Producto mientras esté en su posesión; y<br/>
            (iv) La devolución se efectuará en el mismo medio de pago que el Usuario utilizó para pagar el Producto.</p>


        <h3>5. USO DEL SITIO WEB</h3>

        <p>Los Usuarios se comprometen a utilizar el Sitio Web de conformidad con la ley, la moral, buenas costumbres generalmente aceptadas y el orden público vigente. Los Usuarios se obligan a abstenerse de utilizar el Sitio Web con fines o efectos ilícitos, contrarios a lo establecido en las presentes Condiciones de Uso, lesivos de los derechos e intereses de GRUPO TEXTIL HUTTON o de terceros o
            que de cualquier forma puedan dañar, o deteriorar la imagen o reputación de GRUPO TEXTIL HUTTON o impedir la normal utilización o disfrute de los productos y servicios que se ofrecen por parte de GRUPO TEXTIL HUTTON en el Sitio Web.</p>


        <h3>6. PROPIEDAD INTELECTUAL</h3>

        <p>Toda la información contenida en el Sitio Web, incluyendo su diseño gráfico y el código fuente, están protegidos por derechos de autor y demás derechos recogidos en el Real Decreto Legislativo 1/1996, de 12 de abril por el que se aprueba el Texto Refundido de la Ley de Propiedad Intelectual, y el resto de normas que regulan la Propiedad Intelectual.</p>

        <p>Estos derechos pertenecen exclusivamente a GRUPO TEXTIL HUTTON, por lo tanto, queda expresamente prohibido cualquier acto de reproducción, distribución, transformación o comunicación pública, así como cualquier tipo de cesión, del todo o parte del contenido del Sitio Web, y en general cualquier acto de explotación de la totalidad o parte de los contenidos (imágenes, textos, diseño,
            índices, formas, etc.), así como de las bases de datos y del software necesario para la visualización o el funcionamiento de los mismos y de cualquier objeto que según la legislación vigente sea protegible por las normas de propiedad intelectual.</p>

        <p>Los Usuarios no podrán en ningún caso explotar o servirse comercialmente, de forma directa o indirecta, total o parcial, de ninguno de los contenidos que conformen el Sitio Web sin la autorización previa y por escrito de GRUPO TEXTIL HUTTON.</p>

        <p>La autorización para el uso de cualquier contenido del Sitio Web puede solicitarse a la dirección de correo electrónico info@hutton.es. Lo establecido en los párrafos anteriores no supondrá en ningún caso la asunción de responsabilidad por parte de GRUPO TEXTIL HUTTON sobre el contenido, ni podrá generar derecho a indemnización para Usuarios o terceros.</p>


        <h3>7. PROPIEDAD INDUSTRIAL</h3>

        <p>No podrán utilizarse las marcas, nombres comerciales, rótulos de establecimientos, denominaciones, logotipos, eslóganes o cualquier tipo de signo distintivo mostrado en el Sitio Web y perteneciente a GRUPO TEXTIL HUTTON, y muy en concreto, el denominativo “HUTTON”, sin autorización previa y por escrito de GRUPO TEXTIL HUTTON.</p>


        <h3>8. ENLACES A SITIOS WEB DE TERCEROS</h3>

        <p>Los enlaces contenidos en el Sitio Web, referidos a publicidad o a otro tipo de contenidos, y cuya titularidad o responsabilidad corresponda a terceros distintos a GRUPO TEXTIL HUTTON, no son responsabilidad de GRUPO TEXTIL HUTTON, quien en ningún caso se obliga a controlar ni a aprobar los servicios, contenidos, datos, archivos, productos y cualquier clase de material existente en la
            página o páginas web de terceros. Por lo tanto, GRUPO TEXTIL HUTTON no responderá, bajo ninguna circunstancia, de la legalidad de los contenidos de dicha/s página/s, siendo responsabilidad exclusiva del tercero todo lo que concierna al contenido de ese enlace, especialmente el respeto a la ley, moral, buenas costumbres y orden público. La existencia de enlaces no presupone relación de
            ninguna clase entre GRUPO TEXTIL HUTTON y el propietario de la página web en que el mismo se establezca.</p>


        <h3>9. EXONERACIÓN DE RESPONSABILIDAD</h3>

        <p>GRUPO TEXTIL HUTTON se exonera de toda responsabilidad relativa a:</p>

        <p>(i) El funcionamiento del Sitio Web, incluyendo causas de fuerza mayor, o cualesquiera otras ajenas a la voluntad de GRUPO TEXTIL HUTTON, que no se encuentre totalmente operativo, o carezca eventualmente de la funcionalidad mínima para gestionar el servicio pertinente.<br/>
            (ii) Los posibles errores o deficiencias de seguridad que pudieran producirse por la utilización, por parte de los Usuarios, de un navegador de una versión no actualizada o insegura, así como por la activación de los dispositivos de conservación de contraseñas o códigos de identificación del Usuario registrado en el navegador o de los daños, errores o inexactitudes que pudieran
            derivarse del mal funcionamiento del mismo.<br/>
            (iii) Por los daños y perjuicios directos o indirectos que pudiera causar la información que se transmite o comunique en el Sitio Web o en sus comunicaciones electrónicas incluyendo sin carácter limitativo los errores técnicos o humanos en los datos publicados.<br/>
            (iv) Los daños, incluyendo entre otros, y sin limitarse a éstos: daños, pérdidas o gastos directos o indirectos, inherentes o consecuentes, que surjan en relación con este Sitio Web o su uso o imposibilidad de uso por alguna de las partes, o en relación con cualquier fallo en el rendimiento, error, omisión, interrupción, defecto, demora en la operación o transmisión, virus informáticos
            o fallos de sistema o línea.</p>

        <p>El Usuario responderá por los daños y perjuicios de cualquier naturaleza por actos ilícitos o fraudulentos así como aquellos daños o perjuicios que GRUPO TEXTIL HUTTON o sus Usuarios pudieran sufrir como consecuencia, directa o indirecta, del incumplimiento por parte del Usuario de las presentes Condiciones de Uso, reservándose GRUPO TEXTIL HUTTON aquellas acciones a las que tuviera
            derecho ante las autoridades judiciales o policiales pertinentes.</p>

        <p>Aunque emplea sus mayores esfuerzos, GRUPO TEXTIL HUTTON no puede garantizar a los Usuarios el acceso y uso continuado e ininterrumpido de su Sitio Web.</p>


        <h3>10. MODIFICACIONES</h3>

        <p>GRUPO TEXTIL HUTTON tiene derecho a revisar y modificar en cualquier momento las presentes Condiciones de Uso. El Usuario estará sujeto a las mismas en el momento en el que las acepte, salvo que por ley o decisión de organismos gubernamentales GRUPO TEXTIL HUTTON deba realizar cambios con carácter retroactivo, en cuyo caso los posibles cambios afectarán también a los Pedidos que el
            Usuario hubiera solicitado previamente.</p>


        <h3>11. CONTACTO Y COMUNICACIONES POR ESCRITO</h3>

        <p>La normativa aplicable exige que parte de la información o comunicaciones que GRUPO TEXTIL HUTTON envíe al Usuario sea por escrito. Al aceptar las presentes Condiciones de Uso, el Usuario acepta que la mayor parte de las comunicaciones con GRUPO TEXTIL HUTTON sean electrónicas. GRUPO TEXTIL HUTTON se pondrá en contacto con el Usuario a través de correo electrónico o colgando avisos en
            el Sitio Web. El Usuario consiente en usar este medio electrónico de comunicación y reconoce que toda notificación, información y demás comunicaciones que GRUPO TEXTIL HUTTON le envíe de forma electrónica cumplen con los requisitos legales de ser por escrito.</p>

        <p>Para cualquier consulta o incidencia relacionada con los Pedidos, el Usuario deberá ponerse en contacto con GRUPO TEXTIL HUTTON enviando un correo electrónico a la siguiente dirección info@hutton.es.</p>


        <h3>12. JURISDICCIÓN Y LEY APLICABLE</h3>

        <p>El funcionamiento y utilización del Sitio Web y de las presentes Condiciones de Uso se rigen por la legislación española. En la medida en que así lo permita la ley, GRUPO TEXTIL HUTTON y el Usuario, con renuncia expresa a cualquier otro fuero que pudiera corresponderles, acuerdan someterse a la jurisdicción de los Juzgados y Tribunales de Madrid (España).</p>

        <p style="text-align: center;">Para cualquier aclaración sobre las presentes condiciones generales o cualesquiera otros aspectos, tiene a su disposición la siguiente dirección: <a href="mailto:info@hutton.es">info@hutton.es</a></p>

    </div>
{% endblock %}