{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="privacy" style="text-align: justify">
        <h1 id="home">Política de Cookies</h1>

        <p>Esta Política de Cookies, forma parte de la Política de Privacidad del sitio web alojado bajo el nombre de dominio www.hutton.es (el “Sitio Web”) y bajo cualquiera de los subdominios o páginas web dependientes del mismo. Utilizamos cookies para mejorar nuestros servicios.</p>


        <h3>¿Qué es una cookie?</h3>

        <p>Una cookie es un pequeño fichero de información creado por el Sitio Web que se visita y que guarda información en el ordenador del usuario para proporcionar acceso a las distintas funciones.</p>


        <h3>¿Por qué utilizamos cookies?</h3>

        <p>Utilizamos cookies para obtener más información sobre la forma en que los usuarios utilizan nuestros contenidos y nos ayudan a mejorar su experiencia cuando visitan nuestro Sitio web.</p>


        <h3>¿Qué información nos facilitan las cookies?</h3>

        <p>En concreto nuestras cookies nos facilitan la siguiente información:</p>

        <p>(i) El nombre de dominio del proveedor que le proporciona acceso a la red. Por ejemplo, si tu proveedor es XXX solo le identificaremos con el dominio xxx.es. De esta manera podemos elaborar estadísticas sobre los países y servidores que visitan más a menudo nuestro Sitio Web.<br/>
            (ii) La fecha y hora de acceso a nuestro Sitio Web y el tiempo que permanece en ella cada usuario. Ello nos permite averiguar las horas de más afluencia, y hacer los ajustes precisos para evitar problemas de saturación.<br/>
            (iii) La dirección de internet desde la que partió el link que dirige a nuestro Sitio Web. Gracias a este dato, podemos conocer la efectividad de los distintos banners y enlaces que apuntan a nuestro servidor, con el fin de potenciar los que ofrezcan mejores resultados, en orden a satisfacer las necesidades de información de nuestros usuarios.<br/>
            (iv) El número de visitantes diarios de cada contenido. Ello nos permite conocer las áreas de más éxito y aumentar y mejorar su contenido, con el fin de que los usuarios obtengan una información más satisfactoria. La información obtenida es totalmente anónima, lo que significa que no puede ser asociada a un usuario concreto e identificado.<br/>
            (v) El idioma escogido por cada usuario en su primera visita al Sitio web y al espacio restringido.<br/>
            (vi) Elementos de seguridad que intervienen en el control de acceso a las áreas restringidas.<br/>
            (vii) La actividad del usuario dentro del Sitio Web: enlaces y lugares en los que hace clic, páginas que visita, búsquedas, etc. Ello nos permite mejorar las funcionalidades del Sitio Web y hacerlo más atractivo y útil para el usuario.<br/>
            La información a la que tenemos acceso a través de las cookies nos permite personalizar los contenidos en función de los intereses de los usuarios pero, en ningún caso, nuestras cookies nos permiten obtener datos de carácter personal, ni tampoco pueden leer datos u otras cookies que existan en el equipo del usuario.</p>


        <h3>Tipos de cookies</h3>

        <p>En el Sitio Web se utilizan los siguientes tipos de cookies:</p>

        <p>• Según la entidad que las gestione:</p>

        <p>(i) Propias: Son aquellas que se envían al equipo terminal del usuario desde un equipo o dominio gestionado por el propio editor y desde el que se presta el servicio solicitado por el usuario.<br/>
            (ii) De terceros: Son aquellas que se envían al equipo terminal del usuario desde un equipo o dominio que no es gestionado por el propio editor, sino por otra entidad que trata los datos obtenidos a traces de las cookies.</p>

        <p>• Según el plazo de tiempo que permanecen activas:</p>

        <p>(i) Cookies de sesión: Son un tipo de cookies diseñadas para recabar y almacenar datos mientras el usuario accede a una página web. Expiran una vez el usuario abandona la página web.<br/>
            (ii) Cookies persistentes: Son un tipo de cookies en el que los datos sigues almacenados en el terminal y pueden ser accedidos y tratados durante un periodo de tiempo definido por el responsable de la cookie, y que puede ir de unos minutos a unos años.</p>

        <p>• Según su finalidad:</p>

        <p>(i) Cookies técnicas: Permiten al usuario la navegación a través de la página web y la utilización de sus diferentes opciones o servicios.<br/>
            (ii) Cookies de Análisis: Permiten cuantificar el número de usuarios y el tiempo de conexión de los mismos y así realizar la medición y análisis estadístico de la utilización que hacen de los servicios ofertados con el fin de mejorar la oferta que se ofrece a los usuarios.<br/>
            (iii) Cookies publicitarias: Permiten la gestión de los espacios publicitarios.<br/>
            (iv) Cookies de publicidad comportamental: Estas cookies almacenan información sobre el comportamiento de los usuarios, la cual ha sido obtenida a través de la observación continuada de sus hábitos de navegación.<br/>
            (v) Cookies de sesión: Las cookies de sesión permiten a los usuarios ser reconocidos en un sitio web de forma que cualquier cambio que realices, artículo que selecciones o dato que introduzcas se recuerda de una a otra página</p>
        <table>
            <tbody>
            <tr>
                <td>Titular</td>
                <td>Nombre de la cookie</td>
                <td>Función</td>
            </tr>
            <tr>
                <td>Google Analytics</td>
                <td>_utma<br/>
                    _utmb<br/>
                    _utmc<br/>
                    _utmz
                </td>
                <td>Recopila información anónima sobre la navegación de los usuarios por el sitio web con el fin de conocer el origen de las visitas y otros datos estadísticos similares.</td>
            </tr>
            </tbody>
        </table>


        <h3>¿Cómo se rechazan las cookies?</h3>

        <p>En cualquier momento, puede impedir la instalación de cookies en su equipo mediante la opción correspondiente de su navegador (función de ayuda), pero en dicho caso no podremos asegurarle el correcto funcionamiento de las distintas funcionalidades del Sitio Web.</p>

        <p>Aquí dispone de los enlaces para la gestión y bloqueo de cookies dependiendo del navegador que utilice:</p>

        <p>• Internet Explorer: <a href="http://windows.microsoft.com/es-xl/internet-explorer/delete-manage-cookies#ie=ie-10">http://windows.microsoft.com/es-xl/internet-explorer/delete-manage-cookies#ie=ie-10</a>.</p>

        <p>• FireFox: <a href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we">http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we</a>.</p>

        <p>• Chrome: <a href="https://support.google.com/chrome/answer/95647?hl=es">https://support.google.com/chrome/answer/95647?hl=es</a>.</p>

        <p>• Safari: <a href="http://www.apple.com/es/privacy/use-of-cookies/">www.apple.com/es/privacy/use-of-cookies/</a>.</p>

        <p>También puede gestionar el almacén de cookies desde otras herramientas como:</p>

        <p>• Ghostery: <a href="http://www.ghostery.com/"> www.ghostery.com</a>.</p>

        <p>• Your online choices: <a href="http://www.youronlinechoices.com/es/">www.youronlinechoices.com/es</a>.</p>


    </div>
{% endblock %}