{% extends 'base.html' %}
{% load staticfiles %}
{#DONE: Arreglar los nombres una vez que tengamos los que son#}
{% block content %}
    <div class="container_div" id="Camisas">
        <h1>Camisas</h1>
        <img src="{% static 'img/guia_tallas/CamisaArt-801_T.png' %}">
        <br>
        <img src="{% static 'img/guia_tallas/camisas_tallas.png' %}">
    </div>
    <div class="container_div" id="Polos">
        <h1>Polos</h1>
        <img src="{% static 'img/guia_tallas/polo-1.png' %}">
        <br>
        <img src="{% static 'img/guia_tallas/polos_tallas.png' %}">
    </div>
    <div class="container_div" id="Americanas">
        <h1>Americanas</h1>
        <img src="{% static 'img/guia_tallas/americanas.png' %}">
    </div>
{% endblock %}