{% extends 'base.html' %}
{% load thumbnail %}
{% load staticfiles %}


{% block css_and_js %}

    <link href="{% static 'css/compras/compra.css' %}" type="text/css" media="all" rel="stylesheet"/>

    <link href="{% static 'css/styles.scss87ea.css' %}" type="text/css" media="all" rel="stylesheet"/>

    <link href="{% static 'css/social-icons.css' %}" type="text/css" media="all" rel="stylesheet"/>
    {#        <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>#}
    <link href="{% static 'css/font-awesome.css' %}" type="text/css" media="all" rel="stylesheet"/>
    {#        <link href="{% static 'css/bootstrap.css' %}" type="text/css" media="all" rel="stylesheet"/>#}


    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo:300,400,700">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo:300,400,700">

    <script src="{% static 'js/html5shiv87ea.js' %}" type="text/javascript"></script>

    <script src="{% static 'js/ga_urchin_forms-7ada6895033623ac31caa5468381c85a.js' %}"
            type="text/javascript"></script>

    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'js/option_selection-87ab3c47afdd94e7292ed3925ae1bc31.js' %}"
            type="text/javascript"></script>

    <script src="{% static 'js/api.jquery-c602350dadbc8cd60f9559f7c451f118.js' %}" type="text/javascript"></script>

    <script src="{% static 'js/compra/checkout_v2-2d18b266884fb8ccb5c1e2867869bac3.js' %}"
            type="text/javascript"></script>

    <script src="{% static 'js/compra/countries-ab5aacb100fde4844235aa8d19e4d98384cf9aa7-1440509588.js' %}"
            type="text/javascript"></script>

    {#    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>#}

{% endblock %}

{% block content %}
    {# This part is for the phones #}
    <button class="order-summary-toggle order-summary-toggle--show" data-drawer-toggle="[data-order-summary]">
        <div class="wrap">
            <div class="order-summary-toggle__inner">
                <div class="order-summary-toggle__icon-wrapper">
                    <svg width="20" height="19" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle__icon">
                        <path d="M17.178 13.088H5.453c-.454 0-.91-.364-.91-.818L3.727 1.818H0V0h4.544c.455 0 .91.364.91.818l.09 1.272h13.45c.274 0 .547.09.73.364.18.182.27.454.18.727l-1.817 9.18c-.09.455-.455.728-.91.728zM6.27 11.27h10.09l1.454-7.362H5.634l.637 7.362zm.092 7.715c1.004 0 1.818-.813 1.818-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817zm9.18 0c1.004 0 1.817-.813 1.817-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817z"/>
                    </svg>
                </div>
                <div class="order-summary-toggle__text order-summary-toggle__text--show">
                    <span>Ver los productos</span>
                    <svg width="11" height="6" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle__dropdown"
                         fill="#000">
                        <path d="M.504 1.813l4.358 3.845.496.438.496-.438 4.642-4.096L9.504.438 4.862 4.534h.992L1.496.69.504 1.812z"/>
                    </svg>
                </div>
                <div class="order-summary-toggle__text order-summary-toggle__text--hide">
                    <span>Ocultar los productos</span>
                    <svg width="11" height="7" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle__dropdown"
                         fill="#000">
                        <path d="M6.138.876L5.642.438l-.496.438L.504 4.972l.992 1.124L6.138 2l-.496.436 3.862 3.408.992-1.122L6.138.876z"/>
                    </svg>
                </div>
                <div class="order-summary-toggle__total-recap total-recap"
                     data-order-summary-section="toggle-total-recap">
                    <span class="total-recap__final-price"
                          id="total__price__phone">{{ on_hold.total_price_with_taxes.0 }}</span>
                </div>
            </div>
        </div>
    </button>

    <div class="content" data-content>
        <div class="wrap">
            <div class="sidebar">
                <div class="sidebar__content">
                    <div class="order-summary order-summary--is-collapsed" data-order-summary>
                        <div class="order-summary__section order-summary__section--product-list">
                            <table class="product-table">
                                <thead>
                                <tr>
                                    <th scope="col"><span class="visually-hidden">Description</span></th>
                                    <th scope="col"><span class="visually-hidden">Price</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for p in on_hold.products.all %}
                                    <tr class="product_in_table">
                                        <td class="product__image">
                                            <div class="product__image__inner">
                                                <span class="product__quantity">{{ p.amount }}</span>
                                                {% thumbnail p.product.image "100x100" as imagen %}
                                                    <img src="{{ imagen.url }}" alt="{{ p.product }}">
                                                {% endthumbnail %}
                                            </div>
                                        </td>
                                        <td class="product__description">
                                            <span class="product__description__name order-summary__emphasis">{{ p.product.name }}</span>
                                            <span class="product__description__variant order-summary__small-text">{{ p.product.name }}</span>
                                            <span class="product__description__variant order-summary__small-text">Talla: {{ p.attribute.size }}</span>
                                            <span class="product__description__variant order-summary__small-text">Color: {{ p.attribute.color }}</span>
                                        </td>
                                        <td class="product__price">
                                            <span class="order-summary__emphasis">{{ p.price }}</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>


                        <div class="order-summary__section order-summary__section--total-lines"
                             data-order-summary-section="payment-lines">
                            <table class="total-line-table">
                                <thead>
                                <tr>
                                    <th scope="col"><span class="visually-hidden">Descripción</span></th>
                                    <th scope="col"><span class="visually-hidden">Precio</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="total-line total-line--subtotal">
                                    <td class="total-line__name">Subtotal</td>
                                    <td class="total-line__price">
                                        <span class="order-summary__emphasis" id="subtotal"
                                              data-money="{{ on_hold.total_price_two.1 }}">{{ on_hold.total_price }}</span>
                                    </td>
                                </tr>

                                {#                                <tr class="total-line total-line--subtotal">#}
                                {#                                    <td class="total-line__name">Descuentos</td>#}
                                {#                                    <td class="total-line__price">#}
                                {#                                        <span class="order-summary__emphasis" id="descuento" data-money="0">—</span>#}
                                {#                                    </td>#}
                                {#                                </tr>#}


                                <tr class="total-line total-line--shipping">
                                    <td class="total-line__name">Envío</td>
                                    <td class="total-line__price">
                                        {#TODO: Here goes the cost of the shipping#}
                                        <span class="order-summary__emphasis" id="envio" data-money="4">4.00 €</span>
                                    </td>
                                </tr>

                                <tr class="total-line total-line--taxes">
                                    <td class="total-line__name">Impuestos</td>
                                    <td class="total-line__price">
                                        {#TODO: Here goes the cost of the taxes#}
                                        <span class="order-summary__emphasis" id="taxes" data-money="0">-</span>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                        <div class="order-summary__section order-summary__section--total"
                             data-order-summary-section="payment-due">
                            <table class="total-line-table">
                                <thead>
                                <tr>
                                    <th scope="col"><span class="visually-hidden">Descripción</span></th>
                                    <th scope="col"><span class="visually-hidden">Precio</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="total-line">
                                    <td class="total-line__name payment-due-label">
                                        Total
                                    </td>
                                    <td class="total-line__price payment-due">
                                        <span class="payment-due__price" id="precio_total"
                                              data-money="{{ on_hold.total_price_with_taxes.1 }}">{{ on_hold.total_price_with_taxes.0 }}</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                    <!-- /.order-summary -->

                </div>
            </div>
            <div class="main_left" role="main">
                <div class="main__header">
                    {#TODO: In the other templates set the real href's#}
                    {% block breadcrumbs %}
                        <div class="breadcrumb clearfix">
                            <strong>Información del envío</strong>
                            <span class="arrow-space">&#62;</span>
                        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">

                                 <a title="All Products"
                                    itemprop="url">
                                     <span itemprop="title">Método de pago</span>
                                 </a>
                         </span>
                        </div>
                    {% endblock %}
                </div>
                <div class="main__content">

                    <div class="step" data-step="contact_information">
                        {% block form_content %}
                            <form novalidate="novalidate" class="edit_checkout" action="/info_client/"
                                  accept-charset="UTF-8" method="post">{% csrf_token %}
                                <div class="step__sections">
                                    <div class="section section--shipping-address" data-shipping-address
                                         data-update-order-summary id="your_info">

                                        <div class="section__header">
                                            <h2 class="section__title">
                                                Tus datos
                                            </h2>
                                        </div>
                                        {% if error %}
                                            <div class="alert alert-danger alert-dismissable fade in">
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-hidden="true" onclick="Close(3)"
                                                        style="top:-2px">&times;</button>
                                                Hay errores en los campos
                                            </div>
                                        {% else %}
                                            <div class="alert alert-danger alert-dismissable fade in"
                                                 style="display: none">
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-hidden="true" onclick="Close(3)"
                                                        style="top:-2px">&times;</button>
                                                Hay errores en los campos
                                            </div>
                                        {% endif %}

                                        <div class="section__content">
                                            <div class="fieldset">

                                                <div class="field--half field field--optional">
                                                    <label class="field__label"
                                                           for="checkout_shipping_address_first_name">Nombre</label>

                                                    <div class="field__input-wrapper">
                                                        <input placeholder="Nombre" required value="{{ name }}"
                                                               autocomplete="shipping given-name"
                                                               data-backup="first_name" class="field__input" size="30"
                                                               type="text" name="name"
                                                               id="checkout_shipping_address_first_name"/>
                                                    </div>
                                                </div>
                                                <div class="field--half field field--required">
                                                    <label class="field__label"
                                                           for="checkout_shipping_address_last_name">Apellidos</label>

                                                    <div class="field__input-wrapper">
                                                        <input placeholder="Apellidos" required value="{{ last_name }}"
                                                               autocomplete="shipping family-name"
                                                               data-backup="last_name" class="field__input" size="30"
                                                               type="text" name="last_name"
                                                               id="checkout_shipping_address_last_name"/>
                                                    </div>
                                                </div>
                                                <div class="field field--optional">
                                                    <label class="field__label"
                                                           for="checkout_shipping_address_company">Compañía
                                                        (opcional)</label>

                                                    <div class="field__input-wrapper">
                                                        <input placeholder="Compañía (opcional)"
                                                               value="{{ company }}"
                                                               autocomplete="shipping company"
                                                               data-backup="company" class="field__input" size="30"
                                                               type="text" name="company"
                                                               id="checkout_shipping_address_company"/>
                                                    </div>
                                                </div>
                                                <div data-province-section="1"
                                                     class="field--half field field--required">
                                                    <label class="field__label"
                                                           for="checkout_shipping_address_province">Región</label>

                                                    <div class="field__input-wrapper field__input-wrapper--select">
                                                        <input placeholder="Región" data-backup="province"
                                                               value="{{ province }}" class="field__input" type="text"
                                                               name="province" id="checkout_shipping_address_province"/>
                                                    </div>
                                                </div>
                                                <div class="field field--optional">
                                                    <label class="field__label" for="checkout_shipping_address_email">Correo
                                                        electrónico</label>

                                                    <div class="field__input-wrapper">
                                                        <input placeholder="Correo electrónico" value="{{ email }}"
                                                               required
                                                               data-backup="e-mail"
                                                               class="field__input" size="30" type="email" name="email"
                                                               id="checkout_shipping_address_email"/>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- /.fieldset -->
                                        </div>
                                        <!-- /.section-content -->
                                    </div>
                                    <!-- /.section -->
                                    {% if not already_login %}
                                        <div class="section section--optional">
                                            <div class="section__content">
                                                <div class="checkbox-wrapper">
                                                    <div class="checkbox__input">
                                                        <input class="input-checkbox"
                                                               data-backup="activate_customer_account" type="checkbox"
                                                               value="1" name="checkout"
                                                               id="checkout_activate_customer_account"/>
                                                    </div>
                                                    <label class="checkbox__label"
                                                           for="checkout_activate_customer_account">
                                                        Crear una cuenta con estos datos para recibir nuestras ofertas
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="step__sections">
                                    <div class="section section--shipping-address" data-shipping-address
                                         data-update-order-summary>

                                        <div class="section__header">
                                            <h2 class="section__title">
                                                Información del envío
                                            </h2>
                                        </div>

                                        <div class="section__content">
                                            <div class="fieldset">
                                                <div class="field--two-thirds field field--required">
                                                    <label class="field__label"
                                                           for="checkout_shipping_address_address1">Dirección</label>

                                                    <div class="field__input-wrapper">
                                                        <input placeholder="Dirección" required value="{{ address }}"
                                                               autocomplete="shipping address-line1"
                                                               data-backup="address1" class="field__input" size="30"
                                                               type="text" name="address"
                                                               id="checkout_shipping_address_address1"/>
                                                    </div>
                                                </div>
                                                <div class="field--third field field--optional">
                                                    <label class="field__label"
                                                           for="checkout_shipping_address_address2">Apartamento
                                                        (opcional)</label>

                                                    <div class="field__input-wrapper">
                                                        <input placeholder="Apartamento (opcional)" value="{{ apto }}"
                                                               autocomplete="shipping address-line2"
                                                               data-backup="address2" class="field__input" size="30"
                                                               type="text" name="apartment"
                                                               id="checkout_shipping_address_address2"/>
                                                    </div>
                                                </div>
                                                <div class="field field--required">
                                                    <label class="field__label" for="checkout_shipping_address_city">Ciudad</label>

                                                    <div class="field__input-wrapper">
                                                        <input placeholder="Ciudad" required value="{{ city }}"
                                                               autocomplete="shipping address-level2" data-backup="city"
                                                               class="field__input" size="30" type="text" name="city"
                                                               id="checkout_shipping_address_city"/>
                                                    </div>
                                                </div>
                                                <div data-country-section="1" class="field--half field field--required">
                                                    <label class="field__label" for="checkout_shipping_address_country">País</label>

                                                    <div class="field__input-wrapper field__input-wrapper--select">
                                                        <select size="1" autocomplete="shipping country"
                                                                data-backup="country"
                                                                class="field__input field__input--select" name="country"
                                                                id="checkout_shipping_address_country">
                                                            <option selected="selected" value="España">España</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div data-province-section="1"
                                                     class="field--half field field--required">
                                                    <label class="field__label"
                                                           for="checkout_shipping_address_province">Región</label>

                                                    <div class="field__input-wrapper field__input-wrapper--select">
                                                        <input placeholder="Región" required data-backup="province"
                                                               value="{{ province }}" class="field__input" type="text"
                                                               name="province" id="checkout_shipping_address_province"/>
                                                    </div>
                                                </div>
                                                <div data-zip-section="1" class="field--half field field--required">
                                                    <label class="field__label" for="checkout_shipping_address_zip">Código
                                                        postal</label>

                                                    <div class="field__input-wrapper">
                                                        <input placeholder="Código postal" required
                                                               value="{{ zip_code }}"
                                                               autocomplete="shipping postal-code" data-backup="zip"
                                                               class="field__input" size="30" type="text"
                                                               name="zip_code" id="checkout_shipping_address_zip"/>
                                                    </div>
                                                </div>
                                                <div class="field field--optional">
                                                    <label class="field__label" for="checkout_shipping_address_phone">Teléfono
                                                        (opcional)</label>

                                                    <div class="field__input-wrapper">
                                                        <input placeholder="Teléfono (opcional)" value="{{ phone }}"
                                                               autocomplete="shipping tel" data-backup="phone"
                                                               class="field__input" size="30" type="tel" name="phone"
                                                               id="checkout_shipping_address_phone"/>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- /.fieldset -->
                                        </div>
                                        <!-- /.section-content -->
                                    </div>
                                    <!-- /.section -->

                                </div>
                                <div class="step__footer">
                                    <button name="button" type="submit" onclick="Validate"
                                            class="step__footer__continue-btn btn ">
                                        <span class="btn__content">Continuar</span>
                                        <i class="btn__spinner icon icon--button-spinner"></i>
                                    </button>
                                </div>
                            </form>
                        {% endblock %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        function validateEmail(email) {
            var re;
            re = /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)])/;
            return re.test(email);
        }

        window.onsubmit = Validate;

        function Validate() {
            var count = 0;
            var email_field = document.getElementById("checkout_shipping_address_email").value;

            if (!validateEmail(email_field)) {
                alert("email error");
                $("#checkout_shipping_address_email").parent().addClass("field--error");
                count++;
            }

            $(":required").each(function () {

                if ($(this).get(0).value == "") {
                    count++;
                    alert($(this).get(0));
                    $(this).parent().addClass("field--error");
                }
            });
            if (count != 0) {
                $(".alert-dismissable").slideDown();
                return false;
            }
        }
    </script>
{% endblock %}
