{% extends 'info_client.html' %}
{% load thumbnail %}
{% load staticfiles %}

{% block breadcrumbs %}
    <div class="breadcrumb clearfix">
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                                 <a href="/info_client/" title="All Products" itemprop="url">
                                     <span itemprop="title">Información del envío</span>
                                 </a>
                         </span>
        <span class="arrow-space">&#62;</span>
        <strong itemprop="title">Método de pago</strong>

    </div>
{% endblock %}
{% block form_content %}
    <form class="edit_checkout animate-floating-labels" action="/payment-methods" accept-charset="UTF-8"
          id="payment_form" method="post">{% csrf_token %}
        <div class="section" data-payment-method="">
            <div class="section__header">
                <h2 class="section__title">Método de pago</h2>
                {% if error %}
                    <div class="alert alert-danger alert-dismissable fade in">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true" onclick="Close(3)"
                                style="top:-2px">&times;</button>
                        {{ error }}
                    </div>
                {% else %}
                    <div class="alert alert-danger alert-dismissable fade in"
                         style="display: none">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true" onclick="Close(3)"
                                style="top:-2px">&times;</button>
                        Hay errores en los campos
                    </div>
                {% endif %}
            </div>
            <div class="section__content">
                <div id="paypal-container"></div>
            </div>

            <div class="section__content">

                <div data-payment-subform="required">
                    <div class="content-box">
                        <div class="radio-wrapper content-box__row ">
                            <label class="radio__label content-box__emphasis">
                                Tarjeta de crédito
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" name="Ds_Merchant_Amount" value="{{ price_form }}">
            <input type="hidden" name="Ds_Merchant_Currency" value="978">
            <input type="hidden" name="Ds_Merchant_Order" value="{{ on_hold.transaction_id }}">
            <input type="hidden" name="Ds_Merchant_Titular" value="{{ on_hold.client.full_name }}">
            <input type="hidden" name="Ds_Merchant_MerchantCode" value="092508472">
            <input type="hidden" name="Ds_Merchant_MerchantURL" value="https://www.hutton.es/completed_payment/">
            <input type="hidden" name="Ds_Merchant_UrlOK" value="https://www.hutton.es/completed_payment_ok/">
            <input type="hidden" name="Ds_Merchant_UrlKO" value="https://www.hutton.es/completed_payment_fail/">
            <input type="hidden" name="Ds_Merchant_MerchantName" value="GRUPO TEXTIL HUTTON S.L">
            <input type="hidden" name="Ds_Merchant_ConsumerLanguage" value="001">
            <input type="hidden" name="Ds_Merchant_MerchantSignature" value="{{ signature }}">
            <input type="hidden" name="Ds_Merchant_Terminal" value="001">
            <input type="hidden" name="Ds_Merchant_TransactionType" value="0">
        </div>
    </form>
{% endblock %}
