{% extends 'info_client_base.html' %}
{% load thumbnail %}
{% load staticfiles %}

{% block breadcrumbs %}
    {#    <div class="breadcrumb clearfix">#}
    {#        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">#}
    {#                                 <a href="/info_client/" title="All Products" itemprop="url">#}
    {#                                     <span itemprop="title">Información del envío</span>#}
    {#                                 </a>#}
    {#                         </span>#}
    {#        <span class="arrow-space">&#62;</span>#}
    {#        <strong itemprop="title">Método de pago</strong>#}
    {##}
    {#    </div>#}
{% endblock %}
{% block form_content %}
    <h2 class="section__title">Método de pago</h2>
    <form id="braintree_form" method="post"
          action="/payment-methods/">{% csrf_token %}
        <div class="section__content">
            <div style="margin-top: 10px; margin-bottom: 10px" id="paypal-container"></div>
        </div>
        <a onclick="Cosa()">Click me</a>
    </form>
    <form class="edit_checkout animate-floating-labels" action="https://sis.redsys.es/sis/realizarPago"
          accept-charset="UTF-8"
          id="payment_form" method="post">{% csrf_token %}
        <div class="section" data-payment-method="">
            <div class="section__header">

                {% if error %}
                    <div class="alert alert-danger alert-dismissable fade in">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true" onclick="Close(3)"
                                style="top:-2px">&times;</button>
                        {{ error }}
                    </div>
                {% else %}
                    <div class="alert alert-danger alert-dismissable fade in"
                         style="display: none">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true" onclick="Close(3)"
                                style="top:-2px">&times;</button>
                        Hay errores en los campos
                    </div>
                {% endif %}
            </div>


            <div class="section__content">

                <div data-payment-subform="required">
                    <div class="content-box">
                        <div class="radio-wrapper content-box__row ">
                            <input id="submit_button" type="submit" style="display: none;">
                            <label class="radio__label content-box__emphasis" for="submit_button">
                                Tarjeta de crédito
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" name="Ds_Merchant_Amount" value="{{ price_form }}">
            <input type="hidden" name="Ds_Merchant_Currency" value="978">
            <input type="hidden" name="Ds_Merchant_Order" value="{{ on_hold.transaction_id }}">
            {% if name %}
                <input type="hidden" name="Ds_Merchant_Titular" value="{{ on_hold.client.full_name }}">
            {% endif %}
            <input type="hidden" name="Ds_Merchant_MerchantCode" value="{{ tpv_fuc }}">
            <input type="hidden" name="Ds_Merchant_MerchantURL" value="{{ completed_pay_url }}/">
            <input type="hidden" name="Ds_Merchant_UrlOK" value="{{ completed_pay_url }}_ok/">
            <input type="hidden" name="Ds_Merchant_UrlKO" value="{{ completed_pay_url }}_fail/">
            <input type="hidden" name="Ds_Merchant_MerchantName" value="GRUPO TEXTIL HUTTON S.L">
            <input type="hidden" name="Ds_Merchant_ConsumerLanguage" value="001">
            <input type="hidden" name="Ds_Merchant_MerchantSignature" value="{{ signature }}">
            <input type="hidden" name="Ds_Merchant_Terminal" value="001">
            <input type="hidden" name="Ds_Merchant_TransactionType" value="0">
        </div>
    </form>
    {##}
    {#    <div style="margin-bottom: 30px;">#}
    {#        <a href="#" id="payment_button" class="remove btn-buy disabled"#}
    {#           style="cursor: default; padding-top: 16px">#}
    {#            <i class=" fa fa-shopping-cart">#}
    {#            </i>#}
    {#            Finalizar Compra#}
    {#        </a>#}
    {#    </div>#}
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
    {#    <script src="{% static 'js/compra/braintree.js' %}"></script>#}
    <script type="text/javascript">
        braintree.setup("{{ token }}", "paypal", {
            container: "paypal-container",
            singleUse: true,
            {#            PayPalOneTimePayment: true,#}
            locale: 'es_es',
            amount: {{ on_hold.total_price_two.1 }},
            currency: 'EUR',
            onPaymentMethodReceived: function (obj) {
                // Do some logic in here.
                // When you're ready to submit the form:
                document.getElementById("braintree_form").submit();
            }
        });
    </script>
    <script>
        function Cosa() {
            document.getElementById("braintree_form").submit();
        }

    </script>
    {#    <h1>#}
    {#        Disponible en breve!!!!!#}
    {#    </h1>#}
{% endblock %}
