{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block new_css_jss %}
    <script src="{% static 'gallery/unitegallery/js/jquery-11.0.min.js' %}" type="text/javascript"></script>

    <script type='text/javascript' src='{% static 'gallery/unitegallery/js/unitegallery.min.js' %}'></script>

    <link rel='stylesheet' href="{% static 'gallery/unitegallery/css/unite-gallery.css' %}" type='text/css'/>

    {#    <script type='text/javascript'#}
    {#            src="{% static 'gallery/unitegallery/themes/default/ug-theme-default.js' %}"></script>#}

    <script type='text/javascript'
            src="{% static 'gallery/unitegallery/themes/slider/ug-theme-slider.js' %}"></script>

    {#    <link rel='stylesheet' href="{% static 'gallery/unitegallery/themes/default/ug-theme-default.css' %}"#}
    {#          type='text/css'/>#}
{% endblock %}

{% block content %}

    <div id="gallery" style="display:none; margin: 0  auto; margin-bottom: 30px">
        {% for pic in pics %}
            {% thumbnail pic.image "x50" as im %}
                <img alt="LookBook Image"
                     src="{{ im.url }}"
                     data-image="{{ pic.image.url }}">
                {#                     data-description="Preview Image 1 Description">#}
            {% endthumbnail %}
        {% endfor %}

    </div>

    <script type="text/javascript">

        jQuery(document).ready(function () {

            jQuery("#gallery").unitegallery({
                {#                slider_transition_speed: 0,#}
                {#                theme_enable_text_panel: false,#}
                strippanel_background_color: 'rgb(1, 39, 23)',
                slider_control_zoom: false,
                {#                gallery_width: '100%',#}
                {#                gallery_width: '80%',#}
                gallery_min_width: 200,
                slider_scale_mode: "fit",
                gallery_max_width: '100%',
                gallery_autoplay: false,
                {#                slider_scale_mode: "fill",	#}
                {#                gallery_min_width: '100%'#}
            });

        });

    </script>
{% endblock %}