{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="privacy" style="text-align: justify">
        <h1 id="home">Política de privacidad</h1>

        <h3>1. INFORMACIÓN GENERAL</h3>

        <p>GRUPO TEXTIL HUTTON S.L., sociedad domiciliada en Madrid, calle Labradores, número 12 (Nave 16) y C.P. 28660, con C.I.F. B-87118287 (“GRUPO TEXTIL HUTTON”) es la titular del sitio web ubicado en el nombre de dominio www.hutton.es (el “Sitio Web”).</p>

        <p>La presente Política de Privacidad sólo es aplicable al Sitio Web, entendiendo como tal todas las páginas y subpáginas incluidas en el mismo, declinando GRUPO TEXTIL HUTTON cualquier responsabilidad sobre las diferentes políticas de privacidad y protección de datos de carácter personal que puedan contener las páginas web a las cuales pueda accederse a través de los hipervínculos
            ubicados en este Sitio Web y no gestionadas directamente por GRUPO TEXTIL HUTTON.</p>

        <p>Esta política se ha configurado respetando escrupulosamente la normativa vigente en materia de protección de datos personales, esto es, entre otras, la Ley Orgánica 15/1999, de 13 de Diciembre, de Protección de Datos de carácter personal (la “LOPD”) y el Real Decreto 1720/2007, de 21 de diciembre, que aprueba el Reglamento de desarrollo de la LOPD.</p>

        <h3>2. RECOGIDA DE DATOS DE CARÁCTER PERSONAL</h3>

        <p>De conformidad con lo dispuesto en la LOPD y su normativa de desarrollo, GRUPO TEXTIL HUTTON informa a los usuarios de que los datos que faciliten a través del Sitio Web serán incorporados a un fichero automatizado debidamente inscrito ante la Agencia Española de Protección de Datos del que es responsable GRUPO TEXTIL HUTTON. Dichos datos serán tratados con la finalidad de gestionar las
            relaciones con los usuarios del Sitio Web. Estos datos personales también podrán ser tratados con la finalidad de generar perfiles de usuario y remitirles, por vía electrónica, postal y telefónica (incluyendo alertas por SMS, u otros medios de mensajería análogos) información comercial personalizada que pueda resultar de su interés sobre los productos o servicios relacionados con los
            ofrecidos por GRUPO TEXTIL HUTTON siempre y cuando hayan prestado previamente su consentimiento, así como participar en encuestas de satisfacción.</p>

        <p>Los datos personales recogidos a través del Sitio Web no serán objeto de cesión a ningún tercero, salvo en los casos concretos en que dicha cesión se encuentre amparada por la LOPD y únicamente podrán ser accedidos por el personal de GRUPO TEXTIL HUTTON, así como por aquellos terceros que presten servicios a GRUPO TEXTIL HUTTON relacionados con las finalidades antedichas.</p>

        <p>Los usuarios deberán notificar a GRUPO TEXTIL HUTTON cualquier modificación que se produzca en los datos facilitados, respondiendo en cualquier caso de la veracidad y exactitud de los datos suministrados en cada momento. GRUPO TEXTIL HUTTON procurará comprobar diligentemente la veracidad de dichos datos, reservándose, en su caso y sin perjuicio de otras acciones que pudieran
            corresponderle, el derecho a no registrar o a dar de baja a aquellos usuarios que faciliten datos falsos o incompletos. Dicha verificación previa no implica en ningún caso la asunción por GRUPO TEXTIL HUTTON de responsabilidad alguna por los daños o perjuicios que pudieran derivarse de la falsedad o inexactitud de los datos suministrados, de las que responderá únicamente el
            usuario.</p>

        <p>GRUPO TEXTIL HUTTON garantiza que han adoptado los niveles de seguridad de protección de los datos personales legalmente requeridos, y ha instalado todos los medios y medidas de índole técnica, personal y organizativa a su alcance para garantizar la confidencialidad, integridad y calidad de la información, así como para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo
            de los datos personales facilitados.</p>

        <h3>3. DERECHOS DE LOS USUARIOS</h3>

        <p>Los usuarios pueden ejercitar sus derechos de acceso, rectificación, cancelación y oposición mediante comunicación escrita dirigida a: Madrid, calle Labradores número 12 (nave 16), C.P. 28660 debidamente firmada, acompañada de fotocopia del DNI y con la referencia “Protección de datos personales”, así como por medio del teléfono, email o fax disponibles en el Sitio Web.</p>

        <h3>4. USO DE COOKIES</h3>

        <p>El Sitio Web utiliza cookies con la finalidad de proporcionar determinados servicios y funciones, así como para ayudar a los usuarios a mejorar su experiencia en línea. Puede encontrar más información al respecto en nuestra Política de cookies.</p>

        <h3>5. MODIFICACIONES DE LA POLÍTICA DE PRIVACIDAD</h3>

        <p>GRUPO TEXTIL HUTTON se reserva el derecho a modificar esta Política de Privacidad de acuerdo con la legislación aplicable en cada momento. Por ello, le recomendamos que revise periódicamente esta Política de Privacidad para estar informado de cómo se tratan y protegen los datos personales que nos facilita.</p>

        <h3>6. ENVIO DE DATOS PERSONALES</h3>

        <p>A efectos de lo establecido en la Ley Orgánica 15/1999 de 13 de Diciembre de Protección de Datos de Carácter Personal, GRUPO TEXTIL HUTTON le informa de que los datos personales que ocasión del registro y participación en este sitio web sean introducidos por los usuarios en el mismo serán incorporados a un fichero de su titularidad de nombre &#8220;FICHERO DE CLIENTES Y PROVEEDORES&#8221;
            cuya finalidad es el mantenimiento de su condición de usuario, así como la remisión postal y/o electrónica periódica por nuestra parte de información publicitaria, a lo que Ud. consiente de forma expresa.</p>

        <p>El usuario podrá ejercer sus derechos de acceso, de rectificación, de cancelación y de oposición en lo relativo a sus datos de carácter personal mediante un correo electrónico dirigido a <a href="mailto:info@hutton.es">info@hutton.es</a>. Las comunicaciones de solicitud de ejercicio de derechos deberán ir acompañadas de copia de documento nacional de identidad o documento identificativo equivalente.</p>
    </div>
{% endblock %}