{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <section id="content" class="clearfix">
        <div id="collection">
            <!-- Begin collection info -->
            <div class="row">
                <div class="span12">
                    <!-- Begin breadcrumb -->
                    {#                    <div class="breadcrumb clearfix">#}
                    {##}
                    {#                            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" title="Hutton"#}
                    {#                                                                                                itemprop="url"><span#}
                    {#                                    itemprop="title">Inicio</span></a></span>#}
                    {##}
                    {#                        <span class="arrow-space">&#62;</span>#}
                    {#                        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a#}
                    {#                                style="cursor: auto"#}
                    {#                                title="Productos"#}
                    {#                                itemprop="url"></a></span>#}
                    {#                        <strong>{{ category.name }}</strong>#}
                    {#                    </div>#}
                    <!-- End breadcrumb -->

                    <!-- Begin sort collection -->
                    <div class="clearfix">
                        <h1 class="collection-title">{{ category.name }}</h1>

                        <div class="browse-tags">
                            <label>Ordenar por:</label>
                            <select id="select" onchange="order();" class="sort-by">
                                <option value="created-descending">Últimos diseños</option>
                                <option value="created-ascending">Diseños más antiguos</option>
                                <option value="price-ascending">Precio: Menos a más</option>
                                <option value="price-descending">Precio: Más a menos</option>
                                <option value="title-ascending">A-Z</option>
                                <option value="title-descending">Z-A</option>
                                {#                                <option value="best-selling">Más vendidos</option>#}
                            </select>
                        </div>

                    </div>
                    <!-- End sort collection -->

                    <!-- Begin collection description -->

                    <!-- End collection description -->

                </div>
            </div>
            <!-- End collection info -->

            <!-- Begin no products -->
            <div id="container_general">
                <div id="general" class="row products">
                    {#DONE: Each product takes a div like the one above. Add as many as products as there are, the design takes care of showing it in rows#}
                    {% for p in products %}
                        <div class="product span3 adaptive-grid">

                            {#TODO: All this images should be of the same size#}
                            <div class="image">
                                {% if not p.6 %}
                                    <span class="circle sold-out">Agotado</span>
                                {% elif p.8 %}
                                    <span class="circle sale">Oferta Especial!</span>
                                {% endif %}
                                {% if not p.6 %}
                                    <img src="{{ p.3 }}"
                                         alt="{{ p.2 }}"/>
                                {% else %}

                                    <a href="/product/{{ p.0 }}/">
                                        <img src="{{ p.3 }}"
                                             alt="{{ p.2 }}"/>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="details">
                                {% if not p.6 %}
                                    <a class="clearfix">
                                        <h4 class="title">{{ p.1 }}</h4>
                                        <span class="vendor">{{ p.2 }}</span>
                                          <span class="price">
                                            {{ p.7 }} €
                                          </span>
                                    </a>
                                {% else %}
                                    {#                                    <a href="/product/{{ p.0 }}/" class="clearfix">#}
                                    <h4 class="title">{{ p.1 }}</h4>
                                    {#                                    </a>#}
                                    <span class="vendor">{{ p.2 }}</span>
                                    {% if p.8 %}
                                        <span class="vendor">
                                        <span class="price">
                                            {{ p.7 }} € <del>{{ p.8 }} €</del>
                                        </span>
                                        <span class="price_percent_reduction">-{{ p.10 }}%</span>
                                        </span>
                                    {% else %}
                                        <span class="price">
                                                {{ p.7 }} €
                                        </span>
                                        {#                                        <span class="price_percent_reduction_blank">&nbsp;</span>#}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <script>
        function order() {
            var request = $.get('/categories/{{ category.pk }}/', {
                'order': $('#select').val()
            });
            request.done(function (data) {
                var a = document.getElementById("container_general");
                a.style.height = a.clientHeight.toString() + "px";
                $('#general').fadeOut(250);
                var timeoutID;

                function delayedAlert() {
                    timeoutID = window.setTimeout(function () {
                        $("#general").children().remove();
                        var new_div = document.getElementById("general");
                        for (var i = 0; i < data['products'].length; i++) {
                            p = data['products'][i];
                            var container = document.createElement("div");
                            container.setAttribute('class', 'product span3 adaptive-grid');

                            var image_div = document.createElement('div');
                            image_div.setAttribute('class', 'image');
                            var a_1 = document.createElement('a');
                            if (p[6] != 0) {
                                a_1.setAttribute('href', '/product/' + p[0].toString() + '/');
                            }
                            var image = document.createElement('img');
                            image.setAttribute('src', p[3].toString());
                            image.setAttribute('alt', p[2].toString());
                            a_1.appendChild(image);
                            image_div.appendChild(a_1);

                            if (p[6] == 0) {
                                var span_sold_out = document.createElement("span");
                                span_sold_out.setAttribute('class', 'circle sold-out');
                                span_sold_out.innerText = 'Agotado';
                                image_div.appendChild(span_sold_out);
                            }
                            else if (p[8]) {
                                var span_sale = document.createElement("span");
                                span_sale.setAttribute('class', 'circle sale');
                                span_sale.innerText = 'Oferta Especial!';
                                image_div.appendChild(span_sale);
                            }

                            container.appendChild(image_div);

                            var detail_div = document.createElement('div');
                            detail_div.setAttribute('class', 'details');

                            var a_2 = document.createElement('a');
                            if (p[6] != 0) {
                                a_2.setAttribute('href', '/product/' + p[0].toString() + '/');
                            }
                            a_2.setAttribute('class', 'clearfix');

                            var h_4 = document.createElement('h4');
                            h_4.setAttribute('class', 'title');
                            h_4.innerText = p[1].toString();
                            var span_name = document.createElement('span');
                            span_name.setAttribute('class', 'vendor');
                            span_name.innerText = p[2].toString();
                            var span_price = document.createElement('span');
                            span_price.setAttribute('class', 'price');
                            span_price.innerText = p[7].toString() + ' € ';

                            if (p[8]) {
                                var del_tag = document.createElement('del');
                                del_tag.innerHTML = p[8] + " €";
                                span_price.appendChild(del_tag);
                                var price_reduction = document.createElement('span');
                                price_reduction.setAttribute('class', 'price_percent_reduction');
                                price_reduction.innerText = "-" + p[10] + "%";
                                span_price.appendChild(price_reduction);
                            }
                            else {
                                var price_reduction = document.createElement('span');
                                price_reduction.setAttribute('class', 'price_percent_reduction_blank');
                                price_reduction.innerHTML = "&nbsp;";
                            }

                            a_2.appendChild(h_4);
                            detail_div.appendChild(a_2);
                            detail_div.appendChild(span_name);
                            detail_div.appendChild(span_price);
                            detail_div.appendChild(price_reduction);
                            container.appendChild(detail_div);
                            new_div.appendChild(container);
                        }
                        $("#general").fadeIn(250);
                        a.style.height = "";
                    }, 250);
                }

                delayedAlert();
            });
            request.error(function (error) {
                alert('error.message');
            });
        }
    </script>
    <script>

    </script>
{% endblock %}