{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% if no_data %}
        <p>Escriba algo para buscar</p>
    {% else %}
        <div class="header">
            <h3 style="color: #004024"><strong>Resultados:</strong></h3>
        </div>
        <div class="container">
            {% if no_result %}
                <p>Ning&uacuten producto satisface los criterios de su b&uacutesqueda</p>
            {% else %}
            <ul>
                {% for product in results %}
                    <li><a style="color: #004024" href="{{ product.get_absolute_url }}/">{{ product.name }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}