{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <section id="content" class="clearfix">
        <div id="product">
            <div class="row clearfix">

                <div class="spann12 row clearfix">
                    <!-- Begin product photos -->
                    <div class="span5">
                        <!-- Begin featured image -->
                        <div class="image featured">
                            {#DONE:Here goes the main image of the product#}
                            <a href="{{ product.image.url }}" id="placeholder" data-image-id="-1">
                                <img src="{{ product.image.url }}" alt="{{ product.short_description }}"/>
                            </a>

                            <ul id="lightbox" class="hidden">
                                {#DONE:Foreach image in the product set an li. Every data-image-id must be unique#}
                                {#DONE: The main image should be here too#}
                                <li>
                                    <a href="{{ product.image.url }}" class="fancy" rel="gallery"
                                       data-image-id="-1"></a>
                                </li>
                                {% for img in product.pictures.all %}
                                    <li>
                                        <a href="{{ img.image.url }}" class="fancy" rel="gallery"
                                           data-image-id="{{ img.pk }}"></a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- End product image -->
                    </div>
                    <!-- End product photos -->

                    <!-- Begin thumbnails -->
                    <div class="span1">
                        <div class="thumbs clearfix">

                            <div class="image">
                                <a href="{{ product.image.url }}" data-image-id="-1">
                                    <img src="{{ product.image.url }}"
                                         alt="{{ product.short_description }}"/>
                                </a>
                            </div>
                            {% for img in product.pictures.all %}
                                <div class="image">
                                    <a href="{{ img.image.url }}" data-image-id="{{ img.pk }}">
                                        <img src="{{ img.image.url }}" alt="Picture"/>
                                    </a>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                    <!-- End thumbnails -->


                    <!-- Begin description -->
                    <div class="span6">

                        <h1 class="title" itemprop="name">{{ product.name }}</h1>

                        <form id="add-item-form" action="/{{ product.category.slug }}/" method="post"
                              class="variants clearfix">{% csrf_token %}
                            <!-- Begin product options -->
                            <div class="product-options">
                                <div class="select clearfix">
                                    {% if product.old_price %}
                                        <h2>{{ product.total_price }}
                                            <del style="color: darkgrey">{{ product.old_price }} €</del>
                                            <span class="price_percent_reduction"
                                                  style="line-height: 36px; font-size: 28px">-{{ product.percent }}%</span>
                                        </h2>

                                    {% else %}
                                        <h3>{{ product.total_price }}</h3>
                                    {% endif %}

                                    <div class="description">
                                        <p>{{ product.description|safe }}</p>
                                    </div>
                                    <div class="selector-wrapper">
                                        <label for="product-select">Tallas</label>
                                        <ul class="sizes_list">
                                            <input type="text" hidden value="" name="size" id="size_input">
                                            {% for x in product.attributes.all %}

                                                {% if x.is_available %}
                                                    <li>
                                                        <label class="size_choice unselected" id="size_{{ x.size }}"
                                                               data-size="{{ x.pk }}">
                                                            {{ x.size }}
                                                        </label>
                                                    </li>
                                                {% else %}
                                                    <li class="disabledSize">
                                                        <label class="disabled" id="size_{{ x.size }}"
                                                               data-size="{{ x.pk }}">
                                                            {{ x.size }}
                                                        </label>
                                                    </li>
                                                {% endif %}

                                            {% endfor %}

                                        </ul>

                                        {#                                        <select class="single-option-selector" name="attr_pk" data-option="option1"#}
                                        {#                                                id="product-select-option-0">#}
                                        {#                                            {% for attr in product.attributes.all %}#}
                                        {#                                                <option value="{{ attr.pk }}">{{ attr }}</option>#}
                                        {#                                            {% endfor %}#}
                                        {#                                        </select>#}
                                        <br>
                                        <a href="/sizes/#{{ product.category.name }}" target="_blank">
                                            <strong>Ver guía de tallas</strong>
                                        </a>
                                    </div>

                                </div>
                                <div class="selector-wrapper">
                                    <input id="quantity" type="hidden" onchange="Check()" name="quantity" value="1"
                                           min="1"
                                           class="tc item-quantity"/>

                                    <input type="hidden" name="purchase" value="{{ purchase.pk }}"
                                           class="tc item-quantity"/>
                                    <input type="hidden" name="product_pk" value="{{ product.pk }}"
                                           class="tc item-quantity"/>
                                    <input type="hidden" name="category_pk" value="{{ product.category.pk }}"
                                           class="tc item-quantity"/>
                                    <input type="hidden" name="login" value="{{ login.0 }}"
                                           class="tc item-quantity"/>
                                </div>
                                <div class="purchase-section multiple">
                                    <div class="purchase">
                                        <input type="submit" id="add-to-cart" class="btn"
                                               name="add" value="Añadir al carrito"/>
                                    </div>
                                </div>
                            </div>
                            <!-- End product options -->
                        </form>


                        <!-- Begin social buttons -->
                        {#                        <div class="social">#}
                        {##}
                        {#TODO: data-permalink is the link #}
                        {#                            <div class="social-sharing "#}
                        {#                                 data-permalink="{{ product.get_full_url }}">#}
                        {##}
                        {##}
                        {#                                <a target="_blank"#}
                        {#                                   class="share-facebook">#}
                        {#                                    <span class="icon icon-facebook"></span>#}
                        {#                                    <span class="share-title">Share</span>#}
                        {##}
                        {#                                    <span class="share-count">0</span>#}
                        {##}
                        {#                                </a>#}
                        {##}
                        {##}
                        {#                                <a target="_blank"#}
                        {#                                   class="share-twitter">#}
                        {#                                    <span class="icon icon-twitter"></span>#}
                        {#                                    <span class="share-title">Tweet</span>#}
                        {##}
                        {#                                    <span class="share-count">0</span>#}
                        {##}
                        {#                                </a>#}
                        {##}
                        {##}
                        {#                                <a target="_blank"#}
                        {#                                   class="share-pinterest">#}
                        {#                                    <span class="icon icon-pinterest"></span>#}
                        {#                                    <span class="share-title">Pin it</span>#}
                        {##}
                        {#                                    <span class="share-count">0</span>#}
                        {##}
                        {#                                </a>#}
                        {##}
                        {##}
                        {#                                <a target="_blank"#}
                        {#                                   class="share-fancy">#}
                        {#                                    <span class="icon icon-fancy"></span>#}
                        {#                                    <span class="share-title">Fancy</span>#}
                        {#                                </a>#}
                        {#                            </div>#}
                        {##}
                        {#                        </div>#}
                        <!-- End social buttons -->

                    </div>
                    <!-- End description -->
                </div>
            </div>

            <!-- Begin related product -->
            {#DONE: Aqui dice productos relacionados q se supone q sea eso y si son otros productos de la misma categoria x donde los ordeno#}
            <div class="row">
                <div class="span12">
                    <h3 class="collection-title">Te puede interesar</h3>
                </div>
            </div>

            {% block related_prod %}
                <div class="row products">
                    {#DONE: Each related product has a div like this one (remove the first span to remove the "Agotado" sign)#}
                    {% for x in related_products %}
                        {% if x %}
                            <div class="product span3 adaptive-grid">
                                <div class="image">
                                    <a href="/{{ x.category.slug }}/{{ x.slug }}/">
                                        <img src="{{ x.get_thumb }}" alt="{{ x.short_description }}"/>
                                    </a>
                                </div>
                                <div class="details">
                                    <a href="/product/{{ x.pk }}/" class="clearfix">
                                        <h4 class="title">{{ x.name }}</h4>
                                        <span class="vendor">{{ x.short_description }}</span>
                                          <span class="price">
                                            <em>Desde</em> {{ x.min_price }} €
                                          </span>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                    <div style="clear:both;"></div>
                </div>
            {% endblock %}


        </div>

    </section>
    <script>
        function WorkSizes() {
            var ps = document.getElementsByClassName('size_choice');
            for (var i = 0; i < ps.length; i++) {
                {#                alert(ps[i]);#}
                ps[i].addEventListener('click', SizeElected, false);
            }
            document.getElementById("size_input").setAttribute("value", document.getElementsByClassName('size_choice')[0].getAttribute("data-size"));
            document.getElementsByClassName('size_choice')[0].setAttribute("class", "size_choice selected");
        }

        WorkSizes();

        function Check() {
            var check = document.getElementById('quantity');
            var parse = parseInt(check.value);
            if (isNaN(parse))
                check.value = "1";
            else if (parse < 1)
                check.value = "1";
        }

        function SizeElected(event) {
            var radio_selected = document.getElementById("size_input");
            radio_selected.value = event.currentTarget.getAttribute("data-size");
            var selected = document.getElementsByClassName("selected");
            if (selected[0])
                selected[0].setAttribute("class", "size_choice unselected");
            event.currentTarget.setAttribute("class", "size_choice selected");
        }

        {#        window.onload = function () {#}
        {#            var ps = document.getElementsByClassName('size_choice');#}
        {#            for (var i = 0; i < ps.length; i++) {#}
        {#                alert(ps[i]);#}
        {#                ps[i].addEventListener('click', SizeElected, false);#}
        {#            }#}
        {#            document.getElementById("size_input").setAttribute("value", document.getElementsByClassName('size_choice')[0].getAttribute("data-size"));#}
        {#            document.getElementsByClassName('size_choice')[0].setAttribute("class", "size_choice selected");#}
        {#        };#}


    </script>
{% endblock %}
