{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h1 id="home" style="text-align: center;">Flagship Store (Madrid)</h1>
    <div class="row shop_container">
        <div class="picture_holder_shop">
            <img style="margin-bottom: 20px" src='{% static 'img/Tienda.jpg' %}'/>
        </div>
        <div class="row other_cantainer">
            <div class="left">
                <iframe style="width: 100%; height: 400px"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.9721771732766!2d-3.6885266847289695!3d40.43161497936342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422894f3404809%3A0xc126df0ac832a114!2sHutton+Store!5e0!3m2!1ses!2ses!4v1448917353374"
                        width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="right">
                <h3>Hutton Store Brands</h3>

                <div class="row_brand">
                    <div class="row_brand_third">
                        <a href="http://www.mtassels.com" target="_blank">
                            <img src="{% static 'img/brands/mtassels logo.png' %}">
                        </a>
                    </div>
                    <div class="row_brand_third" style="padding-top: 4%">
                        {#                    <div style="background-color: brown">#}
                        <a href="http://neckabout.es" target="_blank">
                            <img src="{% static 'img/brands/neckabout logo_1.png' %}">
                        </a>
                        {#                    </div>#}
                    </div>
                    <div class="row_brand_third" style="padding-top: 4%">
                        <a href="http://www.biombo13.net" target="_blank">
                            <img src="{% static 'img/brands/biombo13 logo.png' %}">
                        </a>
                    </div>
                </div>
                <div class="row_brand">
                    <div class="row_brand_third">
                        <div style="background-color: brown">
                            <a href="http://ptsshop.es/es/" target="_blank">
                                <img src="{% static 'img/brands/pocketshirt logo.jpg' %}">
                            </a>
                        </div>
                    </div>
                    <div class="row_brand_third">
                        <a href="http://www.c21bebrave.com" target="_blank">
                            <img src="{% static 'img/brands/c21bebrave logo.jpg' %}">
                        </a>
                    </div>
                    <div class="row_brand_third">
                        <a href="http://www.flyhigh.es" target="_blank">
                            <img src="{% static 'img/brands/flyhigh logo.jpg' %}">
                        </a>
                    </div>
                </div>
                <div class="row_brand">
                    <div class="row_brand_third">
                        {#                    <a href="http://www.mtassels.com" target="_blank">#}
                        <img src="{% static 'img/brands/fourcottons logo.png' %}">
                        {#                    </a>#}
                    </div>
                    <div class="row_brand_third">
                        <a href="http://www.diplomaticbrand.com/" target="_blank">
                            <img src="{% static 'img/brands/diplomaticbrand logo.png' %}">
                        </a>
                    </div>
                    <div class="row_brand_third" style="padding-top: 9%">
                        <a href="http://masgemelos.net/" target="_blank">
                            <img src="{% static 'img/brands/masgemelos logo.jpg' %}">
                        </a>
                    </div>
                </div>
                <div class="row_brand">
                    <div class="row_brand_half">
                        <a href="http://ouipetit.com/" target="_blank">
                            <img src="{% static 'img/brands/ouipetit logo.png' %}">
                        </a>
                    </div>
                    <div class="row_brand_half">
                        <a href="http://www.mac-navy.com/" target="_blank">
                            <img src="{% static 'img/brands/mac-navy logo.jpg' %}">
                        </a>
                    </div>
                </div>
                {#                <div class="row_brand">#}
                {#                <span class="social-links new_links">#}
                {#                            <a href="http://www.facebook.com/huttonofficial" title="Síguenos en Facebook!"><span#}
                {#                                    class="shopify-social-icon-facebook-circle"></span></a>#}
{#                            <a href="http://twitter.com/hutton_official" title="Síguenos en Twitter!"><span#}
{#                                    class="shopify-social-icon-twitter-circle"></span></a>#}
{#                            <a href="https://pinterest.com/shopify/" title="Síguenos en Pinterest!"><span class="shopify-social-icon-wordpress"></span></a>#}
{#                            <a href="https://plus.google.com/+shopify" title="Síguenos en Google+!" rel="publisher"><span class="shopify-social-icon-googleplus-circle"></span></a>#}
                {#                            <a href="http://instagram.com/hutton_official" title="Síguenos en Instagram!"><span#}
                {#                                    class="shopify-social-icon-instagram-circle"></span></a>#}
{#                            <a href="https://vimeo.com/shopify" title="Síguenos en Vimeo!"><span class="shopify-social-icon-vimeo-circle"></span></a>#}
                {#                            <a href="http://www.youtube.com/user/huttonoffical" title="Síguenos en YouTube!"><span#}
                {#                                    class="shopify-social-icon-youtube-circle"></span></a>#}
                {#                            <a title="Síguenos en SnapChast!">#}
                {#                                <span#}
                {#                                        class="shopify-social-icon-snap-circle"></span></a>#}
                {#                            <a class="snap snap_store" style="color: black">#}
                {#                                <span>@hutton_official</span>#}
                {#                            </a>#}
                {##}
                {#                        </span>#}
                {#                </div>#}
            </div>
        </div>
    </div>



{% endblock %}