{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h1 id="home" style="text-align: center;">Flagship Store (Madrid)</h1>
    <div style="text-align: center;  margin-bottom: 20px">
        <img style="margin-bottom: 20px" src='{% static 'img/Tienda.jpg' %}'/>

        {#        <p style="text-align: center;">.#}
        {#            Desde Hutton ?? pensamos que era muy importante rescatar la historia del lugar donde se iba a crear nuestra primera tienda #HuttonStore.</p>#}
        {##}
        {#        <p>Después de mucho trabajo, esfuerzo y cariño en el proyecto podemos anunciar que ¡abrimos nuestras puertas!.</p>#}
        {##}
        {#        <p>No estamos solos, en este espacio podréis encontrar marcas como:</p>#}
        {##}
        {#        <div>#}
        {#            <p>Biombo 13 ??</p>#}
        {#            <p>C21 bebrave ??</p>#}
        {#            <p>Diplomatic ??</p>#}
        {#            <p>Flyhigh Sunglasses ??</p>#}
        {#            <p>Four Cottons ??</p>#}
        {#            <p>MTassels ????</p>#}
        {#            <p>Neckabout ??</p>#}
        {#            <p>Oui petit ??</p>#}
        {#            <p>Pocketshirts ??</p>#}
        {#        </div>#}
        {#        <br>#}
        {#        Dirección Calle Padilla 4 (esq. Calle Serrano) Madrid.#}
    </div>
{% endblock %}